<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
              <h4 class="card-title">
                CREATE NEW ANSWER
                <p class="category">Select new answer type</p>
              </h4>
            </div>
          </div>
            <div class="col-lg-8 ml-auto mr-auto">
              <div class="row">
                <div class="col-md-2  ml-auto mr-auto">
                  <nav>
                    <a routerLink="/carousel" routerLinkActive="active">carousel</a>
                  </nav>
                </div>
                <div class="col-md-2  ml-auto mr-auto">
                  <nav>
                    <a routerLink="/carousel" routerLinkActive="active">quick reply</a>
                  </nav>
                </div>
                <div class="col-md-2  ml-auto mr-auto">
                  <nav>
                    <a routerLink="/carousel" routerLinkActive="active">list template</a>
                  </nav>
                </div>
                <div class="col-md-2  ml-auto mr-auto">
                  <nav>
                    <a routerLink="/carousel" routerLinkActive="active">generic buttons</a>
                  </nav>
                </div>
                <div class="col-md-2  ml-auto mr-auto">
                  <nav>
                    <a routerLink="/text" routerLinkActive="active">message</a>
                  </nav>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
