<div class="row">
  <div *ngFor="let intent of intents" class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">{{intent.name}}</h4>
        <div>{{intent.id}}</div>
      </div>
      <div class="card-body">
        <ul class="list-unstyled team-members">
          <li>
            <div class="row">
              <div class="col-md-7">
                <h6>Answers</h6>
              </div>
              <div class="col-md-5 text-right">

              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
