<div class="row" >
  <div class="col-md-12" >
    <button type="submit" class="btn btn-primary btn-round" (click)="addNewGenericButtons()">Add new generic buttons</button>
  </div>
  <div class="col-md-4" *ngFor="let genericButton of genericButtons;let i= index">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Answer Type: generic buttons</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-6 pr-1">
              <h6>Message</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>Intent</label>
              <select class="custom-select-sm col-md-12" (change)="selectIntent($event.target['value'], i)" >
                <option></option>
                <option *ngFor="let intent of intents">{{intent.name}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Message</label>
                <input type="text" class="form-control" [(ngModel)]="genericButton.text" name="text">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <h6>Buttons</h6>
            </div>
            <div class="col-md-6 text-right">
              <button type="submit" class="btn btn-primary btn-round" (click)="addNewButton(genericButton)">Add button</button>
            </div>
          </div>
          <div class="col-md-12" *ngFor="let button of genericButton.buttons">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Button Url</label>
                  <input type="text" class="form-control" [(ngModel)]="button.url" name="url">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Text</label>
                  <input type="text" class="form-control" [(ngModel)]="button.text" name="text">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Button Name</label>
                  <input type="text" class="form-control" [(ngModel)]="button.name" name="name">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round" (click)="saveAnswer(i)">Save the answer</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
