<div class="row" >
  <div class="col-md-12" >
    <button type="submit" class="btn btn-primary btn-round" (click)="addNewMessage()">Add new message</button>
  </div>
  <div class="col-md-4" *ngFor="let message of messages;let i= index">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Answer Type: message</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <h6 class="card-title col-md-10 text-center"></h6>
          <span class="col-md-2 text-right" style="cursor:pointer" (click)="deleteAnswer(message.id)">x</span>
        </div>
          <div class="row">
            <div class="col-md-12">
              <label>Intent</label>
              <select class="custom-select-sm col-md-12" (change)="selectIntent($event.target['value'], i)" >
                <option></option>
                <option [selected]="message.selectedIntent.id === intent.id" *ngFor="let intent of intents">{{intent.name}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <br/>
              <h6>Message</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="message.message" name="message">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round" (click)="message.id ? editAnswer(message.id, i) : saveAnswer(i)">{{message.id ? 'Update' : 'Save'}}</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
